.consultation-dashboard {
  text-align: center;
}

.title {
  text-align: left;
  padding: 27px;
  font-size: 1rem;
  background: linear-gradient(195deg, rgb(73, 163, 241), rgb(26, 115, 232));
  border-radius: 0.75rem;
  position: absolute;
  width: calc(100% - 4.5%);
  top: -20px;
  left: 2.4%;
  color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.14) 0rem 0.25rem 1.25rem 0rem,
    rgba(0, 187, 212, 0.4) 0rem 0.4375rem 0.625rem -0.3125rem;
}

.tableContainer {
  /* overflow-x: visible !important; */
  overflow: visible !important;
  border-radius: 0.75rem !important;
}
.recording-button {
  transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
}

.recording-button.active {
  animation: pulse 1.5s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    background-color: #ff5252; /* Slightly lighter for better visibility */
    box-shadow: 0 0 10px rgba(255, 82, 82, 0.5);
  }
  50% {
    transform: scale(1.05); /* Subtle scaling */
    background-color: #ff1744; /* Intermediate shade */
    box-shadow: 0 0 20px rgba(255, 23, 68, 0.7);
  }
  100% {
    transform: scale(1);
    background-color: #ff5252;
    box-shadow: 0 0 10px rgba(255, 82, 82, 0.5);
  }
}
